[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pyserial = "*"
minimalmodbus = "*"
alicat = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
scipy = "*"
xlrd = "*"
ipython = "*"
pyvisa = "*"
sphinx-rtd-theme = "*"
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3"
