[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pyserial = "*"
minimalmodbus = "*"
alicat = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
scipy = "*"
PyVISA = "*"
xlrd = "*"
ipython = "*"
tqdm = "*"

[requires]
python_version = "3.7"
