alabaster==0.7.12
alicat==0.2.9
astroid==2.4.1
autopep8==1.5.2
Babel==2.9.1
backcall==0.1.0
certifi==2022.12.7
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
docutils==0.16
idna==2.9
imagesize==1.2.0
matplotlib==3.2.1
minimalmodbus==1.0.2
numpy==1.18.4
pandas==1.0.3
pyserial==3.4
PyVISA==1.10.1
scipy==1.4.1
sphinx-rtd-theme==0.4.3
tqdm==4.46.0
alicat==0.2.9
